<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<div layout:fragment="content">
    <div class="container">
        <h1 class="mt-4">Editar Rol</h1>
        <form action="#" th:action="@{/rol/edit/{id}(id=${rol.id})}" th:object="${rol}" method="post">
            <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <input type="text" class="form-control" id="rol" th:field="*{rol}" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="/templates/rolplates/rol" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
</html>
